* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a .nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.nav {
  color: plum;
  text-decoration: none;
}

.nav:hover {
  color: black;
}

.nav:active {
  color: blue;
}

/* TODO: add variables for color 
position heading and p elements in middle of page
position timer on the far-right of the page */
